<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chercher un tuteurs</title>
</head>
<body>
  <h1>Chercher un tuteurs</h1>
  <form action="/search_tuteur" method="POST">
    <label for="search">Chercher un tuteur</label>
    <input type="text" name="search">
    <input type="submit" value="Chercher">
  </form>
</body>
</html>
