<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Titre</title>
  <style>
    body { margin: 0; }

    header {
      width: 100%;
      display: grid;
      grid-template-columns: 60px fit-content(100px) 1fr fit-content(200px) 60px;
      padding: 20px 0;
    }

    .nav { display: flex; gap: 10px; }
  </style>
</head>
<body>
  <header>
    <div></div>
    <div class="logo">LOGO</div>
    <div></div>
    <nav class="nav">
      <a href="/">Tuteurs</a>
      <a href="/">Étudiants</a>
      <a href="/">Sujets</a>
    </nav>
    <div></div>
  </header>
</body>
</html>
